.blog{
    padding: 16rem 0 0;
    &__link{
        font-size: clamp(12px, 1.6rem, 26px);
        font-weight: 400;
        line-height: 1;
        color: #000000;
        text-decoration: underline;
        @media screen and (max-width:850px) {
            font-size: 12px;
        }
    }
    &__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 4.8rem 0 1.2rem;
        @media screen and (max-width:850px) {
            flex-direction: column;
            align-items: flex-start;
        }
    }
    &__title{
        max-width: 80%;
        font-size: 5.4rem;
        font-weight: 600;
        line-height: 1.5;
        color: #000000;
        @media screen and (max-width:850px) {
          font-size: 5rem;
        }
        @media screen and (max-width:650px) {
          font-size: 3.4rem;
          line-height: 1;
        }
    }
    &__date{
        font-size: clamp(14px, 1.8rem, 26px);
        font-weight: 400;
        line-height: 1.2;
        letter-spacing: 0.1em;
        color: #000000;
        @media screen and (max-width:850px) {
            order: -1;
        }
    }
    &__body{
        font-size: clamp(14px, 1.6rem, 24px);
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.1em;
        color: #000000;
        border-radius: 1rem;
        padding: 4rem 3rem;
        padding: 5.1rem 4.5rem 3.7rem;
        background-color: #fff;
        @media screen and (max-width:850px) {
            padding: 3rem 2rem;
        }
        p{
            margin-bottom: 2.3rem;
        }
        h4{
            font-size: clamp(16px, 2.2rem, 32px);
            font-weight: 700;
            letter-spacing: 0.1em;
            margin-bottom: 0.8rem;
        }
        ul{
            list-style: disc;
            padding-left: 2.5rem;
            margin-bottom: 2.5rem;
        }
        span{
            text-align: center;
            p{
                text-align: center;
            }
        }
        img{
            max-width: 80rem;
            margin: auto;
        }
        div{
            padding: 0 1.5rem;
            border-left: 3px solid #ECECEC;
        }
    }
    &__footer{
        padding: 5rem 0 10.4rem;
        font-size: 3.4rem;
        font-weight: 600;
        line-height: 1.2;
        color: #000000;
        &-link{
            font-size: 3.4rem;
            font-weight: 600;
            line-height: 1.2;
            color: #000000;
            text-decoration: underline;
        }
    }
}